{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "svelteSortOrder": "options-scripts-styles-markup",
  "svelteAllowShorthand": true
}
